.main {
  padding: 6.063rem 0 5.063rem;

  @media (min-width: 992px) {

    padding: 0 0 7.525rem;
  }

  .mainDivision {
    display: grid;
    gap: 4rem 0;
    margin: 0 0 4rem;

    @media (min-width: 1200px) {
      gap: 0 1.875rem;
      grid-template-columns: 1fr 350px;
    }
  }
}