.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 48px;
    background-color: var(--soft-red);
    color: var(--off-white);
    text-transform: uppercase;
    // padding: 0.90rem 1.71rem;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 5px;
    border: none;
    outline: none;
    transition: all .3s cubic-bezier(.535, 0, 0, 1);

    &:hover {
        background-color: var(--very-dark-blue);

        span {
            transform: translateX(0.2rem);
        }
    }

    span {
        display: block;
        transform: translateX(0);
        transition: all .3s cubic-bezier(.535, 0, 0, 1);
    }


}